.content__slider--item,
.content__slider--content,
.content__building--content {
    position: relative;

}

.content__slider--item {
    height: 250px;

}

.content__slider--textblock,
.content__building--textblock {
    position: absolute;
    bottom: -15px;
    left: 20px;
    text-align: left;
    z-index: 2;
    background: rgba(245, 245, 245, 0.5);
    width: calc(100% - 40px);
    box-sizing: border-box;
    backdrop-filter: blur(10px);
    color: white;
}

.slider__textblock--content .building__textblock--content {
    position: relative;
    color: white;
    padding: 5px;
    z-index: 3;

}

.slider__button--prev,
.slider__button--next {
    font-size: 50px;
    background-color: none;
    color: var(--color-primary);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    border: none;
}

.slider__button--prev {
    left: 0;
}

.slider__button--next {
    right: 0;
}

.content__slider--textblock {
    font-size: 10px;
}


@media (min-width: 1024px) {

    .content__slider--textblock {
        bottom: -20px;
        width: 55%;
        height: 30%;
    }

    .slider__textblock--content {
        margin-left: 20px;
    }


    .content__slider--item {
        height: 300px;
    }

    .link__hiden {
        display: none;
    }

    .slider__button--prev:hover,
    .slider__button--next:hover {
        background-color: var(--color-secondary);
        color: lightblue;
    }
}