html {
  font-size: 12px;
  color: #404040;
  font-family: 'Slab Serif';
}

body {
  margin: 25px 17px 0 17px;
  height: 94vh;
  display: flex;
  flex-direction: column;
}

button {
  background-color: transparent;
  color: white;
  border: 1px solid white; 
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  margin: 20px 0;
  line-height: 43px;
  text-transform: uppercase;
}

.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.header__title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.header__title h1::after {
  content: '\A';
  white-space: pre;
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.content__slider {
  width: 100%;
}
.content__slider--container {
  position: relative;
  width: 80%;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 40px;
}
.content__slider--line {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  left: 0;
  transition: all ease 1s;
}
.content__slider--item {
  position: relative;
}

.content__slider--content {
  position: relative;

}

.content__slider--textblock {
  position: absolute;
  bottom: -20px; 
  left: 20px;
  text-align: left;
  z-index: 2;
  background: rgba(245, 245, 245, 0.5);
  width: calc(100% - 40px); 
  box-sizing: border-box; 
  backdrop-filter: blur(10px); 
}
.slider__textblock--content {
  position: relative;
  color: white;
  padding: 10px;
  z-index: 3; 
}
.slider__textblock--content .link {
  color: blue; 
  text-decoration: none; 
}
.slider__button--prev,
.slider__button--next {
  font-size: 50px;
  background-color: none;
  color: blue;
  padding: 10px 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  border: none;
}
.slider__button--prev {
  left: 0;
}

.slider__button--next {
  right: 0;
}

.content__slider--bars {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.bar {
  width: 20px;
  height: 4px;
  background-color: grey;
  margin: 0 5px;
  cursor: pointer;
}

.active-bar {
  background-color: blue;
}

.content__buiding,
 footer {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  width: 100%; 
}

.content__buiding--iconblock {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  flex-direction: column; 
  margin: 50px; 
  text-align: center;
}
.content__buiding--photoblock {
  width: 100%; 
  height: 200px; 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content__buiding--photoblock::before {
  content: "";
  position: relative;
  width: 100%; 
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.5); 
}

.content__buiding--photoblock button {
  padding: 10px 20px;
  position:absolute;
 
}
.content__buiding--image1 {
  background-image: url('../images/ikea.png');
}

.content__buiding--image2 {
  background-image: url('../images/electro.png');
}

.content__buiding--image3 {
  background-image: url('../images/centere.png');
}
.content__buiding--slideblock{
  margin-top: 50px;
  width: 100%; 
  height: 250px; 
}

.footer{
  background-color: aliceblue;
}