:root {
  --color-primary: #0568C3;
}


@font-face {
  font-family: "golca";
  src: url("../fonts/golca.otf") format("opentype");
 
}

html {
  color: #404040;
  font-family: "golca";
}

body {
  margin: 25px 17px 0 17px;
  height: 94vh;
  display: flex;
  flex-direction: column;

}

button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  text-transform: uppercase;
}

.header {
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  font-size: 12px;
}

.header__title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.content {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;

}

.link {
  color: var(--color-primary);
  text-decoration: none;


}

.link::after {
  content: '\e900';
  font-family: 'Energo';
  color: var(--color-primary);
  text-decoration: none;
  font-size: xx-small;
  margin-left: 5px;
}

.link:hover {
  color: lightblue;
  text-decoration: underline;
}


.link:hover::after {
  color: lightblue;
}

.icons {
  color: var(--color-primary);
  font-size: 90px;
}

@media (min-width: 1024px) {
  .header {
    font-size: 9px;
  }
}